<div class="container">
  <div class="row">
    <form action="/new" method="post" class="url-input d-flex flex-md-row justify-content-between" novalidate>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-link"></i></span>
        </div>
        <input type="text" class="form-control form-control-lg" placeholder="URL shortener" name="originUrl" required>

        <div class="input-group-append">
          <button type="submit" class="btn btn-lg btn-primary">產生縮網址</button>
        </div>
        <div class="invalid-feedback">
          Please enter an url.
        </div>
      </div>

    </form>
  </div>
</div>
<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('url-input');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>