* {
  font-family: 'Roboto Mono', monospace;
}

.container {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 15%;
}

form {
  min-width: 80%;
}

#display-shortenUrl {
  margin-bottom: 0;
}

input.form-control {
  font-size: 1.5em;
}

.alert {
  font-size: 1.4em;
}
