.container {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.row {
  margin-top: 40%;
}

form {
  min-width: 80%;
}

input {
  margin-right: 5%;
}

i {
  font-size: 3em;
  margin-right: 5%;
}

button {
  width: 25%;
}
